body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

header {
    background-color: #fff1b8;
    height: 6vh;
    width: 100vw;
    opacity: 0.9;
    margin-bottom: 2vh;
}

header h1.logo {
    float: left;
    margin: 1vh 1vw 1vh 1vw;
}

a.link {
    color: black;
    text-decoration: none;
}

header form.login {
    float: right;
    margin: 20px;
}


header #navbar_container {
    position: sticky;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 41vw;
    margin-left: auto;
    margin-right: auto;
}

#category_container {
    float: left;
    position: relative;
    left: 23vw;
    top: 10vh;
}

#category_btn {
    width: 100px;
}

#search_bar {
    position: relative;
    top: 2vh;
    left: 8vw;
    width: 15vw;
}

#search_btn {
    position: relative;
    top: 2vh;
    left: 8vw;
}

#greeting {
    float: right;
    position: relative;
    bottom: 1.7vh;
    right: 19vw;
}

#mypage_link {
    position: relative;
    float: right;
    right: -0.1vw;
}

#cart_link {
    float: right;
    position: relative;
    left: 6vw;
}

#register_link {
    position: relative;
    float: right;
    left: 500px;
}

#admin_orders_link {
    float: right;
    position: relative;
    left: 380px;
}

#login_email {
    position: relative;
    top: -2.3vh;
}

#login_password {
    position: relative;
    top: -2.3vh;
}


#login_btn {
    position: relative;
    top: -2.3vh;
}


#logout_btn {
    float: right;
    position: relative;
    bottom: 0.2vh;
    left: 11.5vw;
}

#flash_message {
    position: relative;
    left: 800px;
}

#page_title {
    margin-left: 10px;
    float: left;
}

#register_forms {
    clear: both;
}

#mypage_forms {
    clear: both;
}

#no_products {
    position: relative;
    left: 20px;
}

#order_info_gray {
    background-color: #EEEEEE;
    clear: left;
}

#order_info_white {
    background-color: #DDDDDD;
    clear: left;
}

#order_header {
    display: inline-block;
    width: inherit;
    height: 35px;
}

#order_date {
    position: relative;
    left: 4vw;
    float: left;
    font-weight: bold;
}

#order_price {
    position: relative;
    left: 5vw;
    float: left;
    font-weight: bold;
}

#order_complete {
    float: right;
    color: green;
}

#order_cancel {
    position: relative;
    top: 1.8vh;
    float: right;
}

#order_product_header {
    text-align: right;
    clear: left;
    width: inherit;
    float: left;
    background-color: #CCCCCC;
}

#order_product_header_name {
    position: relative;
    right: 481px;
    display: inline-block;
    font-weight: bold;
}

#order_product_header_quantity {
    float: right;
    position: relative;
    right: 447px;
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

#order_product_header_price {
    float: right;
    position: relative;
    right: 123px;
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

#order_product_name {
    display: inline-block;
}

#order_product_quantity {
    display: inline-block;
    width: 100px;
    float: right;
    position: relative;
    right: 410px;
}

#order_product_price {
    display: inline-block;
    width: 100px;
    float: right;
    position: relative;
    right: 100px;
}

#admin_order_name {
    float: left;
}

#admin_order_date {
    float: left;
    position: relative;
    left: 100px;
}

#admin_order_price {
    position: relative;
    left: 200px;
}

#product_page_name {
    font-size: 30px;
    clear: both;
    text-align: center;
}

#product_page_image {
    width: 20vw;
    height: 20vw;
    float: left;
}

#product_page_container {
    float: right;
    width: 21vw;
    height: 20vw;
    text-align: center;
}

#product_page_price {
    position: relative;
    top: 60px;
    font-size: 50px;
}

#product_page_quantity {
    position: relative;
    top: 95px;
}

#product_page_add_to_cart {
    position: relative;
    bottom: 10px;
    width: 200px;
    height: 40px;
    font-size: 20px;
}

#product_page_add_comment {
    width: 500px;
    height: 80px;
    resize: none;
}

#product_page_no_comments
{
    clear:both
}

#product_page_comments {
    clear: both;
}

#product_page_submit_comment {
    position: relative;
    bottom: 38px;
    left: 20px;
    width: 80px;
    height: 30px;
}

#product_info_gray {
    background-color: #EEEEEE;
    clear: left;
    width: inherit;
    height: 100px;
}

#product_info_white {
    background-color: #FFFFFF;
    clear: left;
    width: inherit;
    height: 100px;
}

#cart_btn {
    position: relative;
    bottom: 10px;
    float: right;
}

#checkout_cart {
    float: right;
    position: relative;
    top: 13px;
    left: 40px;

}

#total_price {
    float: left;
    position: relative;
    left: 500px;
    bottom: 6px;
}

#total_price_nr {
    display: inline;
    position: relative;
    right: 100px;
    float: right;
    font-weight: bold;
    text-align: right;
}

#product_text {
    float: left;
    height: inherit;
    width: 340px;
    margin-left: 10px;
}

#product_image {
    float:left;
    width: 100px;
    height: inherit;
}

#product_nrs {
    display: inline-block;
    position: relative;
    top: 25px;
    left: 15px;
    text-align: right;
}

#product_quantity {
    display: inline-block;
    width: 100px;
    height: auto;
}

#product_price {
    display: inline-block;
    width: 110px;
    height: auto;
    font-weight: bold;
}

#add_to_cart {
    position: relative;
    right: 30px;
    bottom: 15px;
    width: 70px;
    height: 30px;
    float: right;
}


.rate {
    top: 20px;
    position: relative;
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */