{% extends "base.html" %}
{% block content %}
    <h2 id="page_title">My Shopping Cart</h2>
    {% set i = namespace(value=-1) %}
    {% set total_price = namespace(value=0) %}
    {% for product in cart_products %}
        {% set i.value = i.value + 1 %}
        {% if i.value % 2 == 0 %}
            <div id="product_info_white">
        {% else %}
            <div id="product_info_gray">
        {% endif %}
        <img id="product_image" src="/static/images/{{ product.image_filename }}">
            <div id="product_text">
                <h3 id="product_name"> {{ product.name }} </h3>
                <p id="product_desc">  {{ product.description }} </p>
            </div>
            <div id="product_nrs">
                <p id="product_quantity"> {{ product.quantity }} st </p>
                <p id="product_price"> {{ product.price*product.quantity }} kr </p>
                <form action="{{ url_for("remove_cart_product") }}" method="POST">
                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                    <input type="submit" id="increment_btn" value="Ta bort">
                </form>
                 <form action="{{ url_for("increment_cart_product") }}" method="POST">
                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                    <input type="submit" id="remove_btn" value="+">
                </form>
                <form action="{{ url_for("decrement_cart_product") }}" method="POST">
                    <input type="hidden" name="product_id" value="{{ product.product_id }}">
                    <input type="submit" id="decrement_btn" value="-">
                </form>
            {% set total_price.value = total_price.value + product.price*product.quantity %}
            </div>
        </div>
    {% endfor %}
    {% set i.value = i.value + 1 %}
    {% if i.value % 2 == 0 %}
        <div id="product_info_white">
    {% else %}
        <div id="product_info_gray">
    {% endif %}
    <h3 id="total_price">Total price: </h3>
    <p id="total_price_nr">{{ total_price.value }} kr</p>
    {% if not cart_empty %}
        <form method="Post" >
            <input id="checkout_cart" type="submit" value="Betala">
        </form>
    {% endif %}
    </div>
    <!-- checkout and total price -->
{% endblock content %}
