{% extends "base.html" %}
{% block content %}
    <h2 id="page_title"> My Page </h2>
    <form method="Post" id="mypage_forms">
        <input type="text" name="email" value="{{ user.email }}" placeholder="Email">
        <input type="text" name="confirm_email" value="{{ user.email }}" placeholder="Confirm Email">
        <input type="password" name="password" placeholder="New password" >
        <input type="password" name="confirm_password" placeholder="Confirm password" >
        <input type="submit" value="Save">
    </form>

    <h2> Orders </h2>
    {% for order in orders %}
        {% set total_price = namespace(value=0) %}
        {% for product in ordered_products %}
            {% if order.order_id == product.order_id %}
                {% set total_price.value = total_price.value + product.price*product.quantity %}
            {% endif %}
        {% endfor %}
        <p id="order_date"> Order: {{ order.date_ordered }} </p>
        <p id="order_price"> Price: {{ total_price.value }} </p>
        {% for product in ordered_products %}
            {% if order.order_id == product.order_id %}
                <p id="order_product_name"> {{ product.name }} </p>
                <p id="order_product_quantity"> {{ product.quantity }} </p>
                <p id="order_product_price"> {{ product.price*product.quantity }} </p>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock content %}