{% extends "base.html" %}
{% block content %}
    <h2 id="register_header">Register</h2>
    <form action="{{ url_for("register_user") }}" method="POST" id="register">
        <input type="text" name="first_name" placeholder="First name">
        <input type="text" name="last_name" placeholder="Last name">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <input type="submit" value="Register">
    </form>
{% endblock content %}
